body {
    padding: 2em 1em;
}

@keyframes fadeIn {
	from {
		opacity: 0;
        transform: translateY(-10px)
	}
	to {
		opacity: 1;
        transform: translateY(0px)
	}
}

.container, .fadeIn{
   animation: fadeIn .5s forwards; 
}

.control-ui {
		padding: 1em;
		border-radius: 0.5rem;
		background: white;
}

@media screen and (max-width: 768px) {
	.control-ui {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		border-radius: 0;
		margin-bottom: 0 !important;

	}
}
